<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    默认为单例-->
<!--    <bean id = "userDao" class="com.com.itheima.dao.impl.UserDaoImpl" scope="singleton" init-method="init" destroy-method="destory"></bean>-->
<!--    <bean id = "userDao" class="com.com.itheima.factory.StaticFactory" factory-method="getUserDao"></bean>-->
<!--    工厂-->
<!--    <bean id = "userDao" class="com.com.itheima.factory.StaticFactory" factory-method="getUserDao"></bean>-->
<!--    <bean id = "factory" class="com.com.itheima.factory.DynamicFactory" scope="prototype"></bean>-->
<!--    <bean id = "userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->

<!--    多例-->
<!--    <bean id = "userDao" class="com.com.itheima.dao.impl.UserDaoImpl" scope="prototype"></bean>-->

<!--    依赖注入 set方法-->
<!--    <bean id = "userDao" class="com.com.itheima.dao.impl.UserDaoImpl" scope="singleton"></bean>-->
<!--    <bean id="userService" class="com.com.itheima.service.impl.UserServiceImpl">-->
<!--        <property name="userDao" ref="userDao"></property>-->
<!--    </bean>-->

<!--    依赖注入 构造方法-->
<!--    <bean id = "userDao" class="com.com.itheima.dao.impl.UserDaoImpl"></bean>-->
<!--    <bean id="userService" class="com.com.itheima.service.impl.UserServiceImpl">-->
<!--        <constructor-arg name="userDao" ref="userDao"></constructor-arg>-->
<!--    </bean>-->

<!--    集合数据类型注入-->

    <bean id="u1" class="com.com.itheima.domain.User">
        <property name="addr" value="@qq.com"></property>
        <property name="name" value="qq"></property>
    </bean>

    <bean id="u2" class="com.com.itheima.domain.User">
        <property name="addr" value="@163.com"></property>
        <property name="name" value="163"></property>
    </bean>

    <bean id = "userDao" class="com.com.itheima.dao.impl.UserDaoImpl">
        <property name="username" value="zhangsan"></property>
        <property name="age" value="18"></property>
<!--        strList集合类型注入-->
        <property name="strList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>

<!--        userList集合类型注入-->
        <property name="userList">
            <list>
<!--                <bean class="com.com.itheima.domain.User"></bean>-->
<!--                <bean class="com.com.itheima.domain.User"></bean>-->
                <ref bean="u1"></ref>
                <ref bean="u2"></ref>
            </list>
        </property>
        <!--        userList集合类型注入-->
        <property name="userMap">
            <map>
                <entry key="user1" value-ref="u1"></entry>
                <entry key="user2" value-ref="u2"></entry>
            </map>
        </property>
    </bean>

</beans>